.cart-container {
  max-width: 900px;
  margin: 40px auto;
  padding: 20px;
  background: #fff;
  border-radius: 10px;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
  
}

.cart-title {
  text-align: center;
  font-size: 24px;
  font-weight: bold;
  margin-bottom: 20px;
}

.cart-empty{
  text-align: center;
  font-size: 20px;
  margin-top: 20px;
}

.cart-table {
  width: 100%;
  border-collapse: collapse;
}

.cart-table th, .cart-table td {
  border: 1px solid #ddd;
  padding: 10px;
  text-align: center;
}

.cart-table th {
  background-color: #f8f8f8;
}

.cart-item-img {
  width: 50px;
  height: 50px;
  object-fit: cover;
  border-radius: 5px;
}

.cart-quantity {
  margin: 0 10px;
  font-size: 16px;
  font-weight: bold;
}

.cart-remove-btn {
  background: red;
  color: white;
  border: none;
  padding: 6px 10px;
  border-radius: 5px;
  cursor: pointer;
  transition: background 0.3s;
}

.cart-remove-btn:hover {
  background: darkred;
}

.cart-summary {
  margin-top: 20px;
  text-align: right;
  font-size: 14px;
}

.cart-checkout-btn {
  width: 100%;
  background: green;
  color: white;
  border: none;
  padding: 12px;
  font-size: 18px;
  font-weight: bold;
  border-radius: 5px;
  cursor: pointer;
    margin-top: 10px;
}

.cart-checkout-btn:hover {
  background: darkgreen;
}

.cart-checkout-btn:active {
  transform: scale(0.95);
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2)
}

.modal-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.7);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1000;
}

/* Modal content */
.modal-content {
  position: relative;
  background: white;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.3);
  max-width: 80%;
  max-height: 80%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

/* Image inside modal */
.modal-img {
  max-width: 100%;
  max-height: 80vh;
  border-radius: 8px;
}

/* Close button */
.close-btn {
  position: absolute;
  top: 10px;
  right: 15px;
  background: none;
  border: none;
  font-size: 24px;
  cursor: pointer;
  color: black;
}
