/* Scoped styles for ChangePassword component */
.change-password-container {
  width: 100%;
  max-width: 400px;
  margin: 20px auto;
  padding: 20px;
  border: 1px solid #ccc;
  border-radius: 8px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  margin-top: 100px;
  margin-bottom: 100px;
  background-image: url(assets/bg2.jpg);
  background-repeat: no-repeat;
  background-size: cover; /* Ensures the image covers the entire container */
  background-position: center; /* Centers the image */
}

.change-password-container h2 {
  text-align: center;
  margin-bottom: 20px;
}

.change-password-container .form-group {
  margin-bottom: 15px;
}

.change-password-container .form-group label {
  display: block;
  margin-bottom: 5px;
  font-weight: bold;
}

.change-password-container .form-group input {
  width: 100%;
  padding: 8px;
  font-size: 14px;
  border: 1px solid #ccc;
  border-radius: 4px;
}

.change-password-container button {
  width: 100%;
  padding: 10px;
  background-color: #32AEB1;;
  color: white;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

.change-password-container button:hover {
  background-color: #0f7274; 
}

.change-password-container .success-message {
  color: green;
  text-align: center;
}

.change-password-container .error-message {
  color: red;
  text-align: center;
}

.popup {
  position: fixed;
  top: 20px;
  left: 50%;
  transform: translateX(-50%);
  padding: 10px 20px;
  border-radius: 5px;
  color: white;
  font-size: 16px;
  z-index: 1000;
  animation: fadeInOut 4s ease-in-out forwards;
}

.success-popup {
  background-color: #4caf50;
  z-index: 1;
}

.error-popup {
  background-color: #f44336;
}

/* Spinner styles */
.spinner-container {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.5);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1;
  height: 100vh;
}

.spinner {
  width: 50px;
  height: 50px;
  border: 5px solid #f3f3f3;
  border-top: 5px solid #3498db;
  border-radius: 50%;
  animation: spin 1s linear infinite;
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
