.chatbot-container {
    position: fixed;
    bottom: 20px;
    right: 20px;
    z-index: 1000;
  }

  .chatbot-container:hover {
    box-shadow: 0 0 20px rgba(0, 255, 255, 0.8), 0 0 30px rgba(0, 255, 255, 0.5);
    border-radius: 50%;
  }
  
  .chatbot-toggle {
    background-color: #32aeb1;
    border: none;
    border-radius: 50%;
    width: 60px;
    height: 60px;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    position: relative;
  }
  
  .chatbot-toggle .logo-image {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 50%;
  }
  
  .notification-badge {
    position: absolute;
    top: -5px;
    right: -5px;
    background-color: red;
    color: white;
    border-radius: 50%;
    width: 20px;
    height: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 12px;
    font-weight: bold;
    border: 2px solid white;
  }
  
  .chatbot-box {
    width: 300px;
    height: 400px;
    background-color: white;
    border: 1px solid #ddd;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    display: flex;
    flex-direction: column;
  }
  
  .chatbot-header {
    background-color: #32aeb1;
    color: white;
    padding: 10px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
  }
  
  .chatbot-body {
    flex: 1;
    padding: 10px;
    overflow-y: auto;
  }
  
  .chatbot-message {
    margin-bottom: 10px;
    display: flex;
    flex-direction: column;
  }
  
  .bot-message {
    align-items: flex-start;
  }
  
  .user-message {
    align-items: flex-end;
  }
  
  .chatbot-message p {
    background-color: #f1f1f1;
    border-radius: 10px;
    padding: 8px 12px;
    max-width: 70%;
  }
  
  .user-message p {
    background-color: #32b17c;
    color: white;
  }
  
  .chatbot-options {
    display: flex;
    flex-direction: column;
  }
  
  .chatbot-option-button {
    margin-top: 5px;
    padding: 5px 10px;
    border: none;
    background-color: #32aeb1;
    color: white;
    border-radius: 5px;
    cursor: pointer;
  }
  
  .chatbot-option-button:hover {
    background-color: #288a8d;
  }
  
  .chatbot-header button {
    background-color: #32AEB1;
    color: white;
    padding: 10px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-radius: 5px;
}