.maps {
    display: flex;
    justify-content: center; 
    align-items: center;            
    padding: 10px;
  }
  
  iframe {
    width: 75%;             
    height: 450px;
    border-radius: 8px;      
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2); 
    border: 0;               
    margin-bottom: 10px;
  }
  