    /* User Profile Container */
.user-profile-container {
    display: flex;
    height: 100vh;
  }
  
  /* Sidebar */
  .sidebar {
    width: 20%;
    padding: 20px;
    border-right: 1px solid #dee2e6;
    border: none;
  }
  
  .sidebar-title {
    font-size: 1.5rem;
    font-weight: bold;
    margin-bottom: 20px;
  }
  
  .sidebar-list {
    list-style-type: none;
    padding: 0;
    margin: 0;
  }
  
  .sidebar-item {
    display: block;
    width: 80%;
    padding: 10px 15px;
    margin-bottom: 10px;
    background-color: #e9ecef;
    border: none;
    border-radius: 5px;
    font-size: 1rem;
    text-align: left;
    cursor: pointer;
    transition: background-color 0.3s ease;
  }
  
  .sidebar-item:hover {
    background-color: #ced4da;
  }
  
  .sidebar-item.active {
    background-color: #32AEB1;
    color: #fff;
  }
  
  /* Content */
  .content {
    flex-grow: 1;
    padding: 20px;
    ;
  }
  